<template>
  <div class="is-fullwidth has-white-bg login-form">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <div style="margin: 15px;" class="is-size-2 has-text-centered">
      TMS Login
    </div>
    <section>
      <b-field label="Username" :type="fieldStyle">
        <b-input v-model="username"
                 maxlength="25"
                 @keyup.enter.native="login"
                 size="is-medium">
        </b-input>
      </b-field>
      <b-field label="Password" :type="fieldStyle">
        <b-input type="password"
                 v-model="password"
                 maxlength="50"
                 size="is-medium"
                 @keyup.enter.native="login"
                 password-reveal>
        </b-input>
      </b-field>
      <div class="field">
        <b-tooltip
           label="Stay signed forever (1 year)"
           position="is-top">
          <b-checkbox v-model="remember">Remember me</b-checkbox>
        </b-tooltip>
      </div>
      <button
        type="button"
        @click="login"
        class="button is-primary is-medium is-fullwidth"
        autofocus="true">
        LogIn
      </button>
    </section>
  </div>
</template>

<style>

.login-form {
  margin-top: 50px;
  border-radius: 3px;
  padding: 25px;
}

</style>

<script>
import Config from '@/config';

export default {
  name: 'LoginForm',
  props: {
    onSuccess: Function,
    onError: Function,
    localization: Object,
  },
  data() {
    return {
      isLoading: false,
      username: '',
      password: '',
      remember: false,
      fieldStyle: '',
    };
  },
  methods: {
    login() {
      const that = this;
      that.isLoading = true;
      const bauthToken = 'Basic '.concat(btoa(`${that.username}:${that.password}`));
      let cookieDurationDays = 1;
      if (that.remember) cookieDurationDays *= 365;
      that.$cookie.set('bauth-token', bauthToken, cookieDurationDays);
      // Redirect to home if already logged in
      that.$http.get(`${Config.api}/templates`).then(() => {
        this.$toast.open({
          message: 'Successfully logged in',
          position: 'is-top',
          type: 'is-success',
          queue: false,
        });
        if (that.onSuccess) that.onSuccess();
      }, () => {
        that.isLoading = false;
        that.fieldStyle = 'is-danger';
        this.$toast.open({
          message: 'Username or password is incorrect',
          position: 'is-top',
          type: 'is-danger',
          queue: false,
        });
        if (that.onError) that.onError();
      });
    },
  },
};
</script>
